<div id="nav">
    <div id="nav-write-article">
        <ul>
        {{if .IsLogin}}
            <li><a href="/article/add">Tambah Artikel</a></li>
        {{end}}
        </ul>
    </div>


    <div id="nav-menu">
        <ul>
            <li><a href="/">Beranda</a></li>
            <li><a href="/tags">Post Tag</a></li>
            <li><a href="/album">Portofolio</a></li>
            <li><a href="/aboutme">Tentang Saya</a></li>
        </ul>
    </div>


    <div id="nav-login">
        <ul>
        {{if .IsLogin}}
            <li><a href='javascript:if(confirm("logout？")){location="/exit"}'>Logout</a></li>
        {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        {{end}}
        </ul>
    </div>

</div>