<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baca Artikel</title>
    <link href="../static/css/blogsheet.css" rel="stylesheet">
    <script src="../static/js/lib/jquery-3.3.1.min.js"></script>
    <script src="../static/js/lib/jquery.url.js"></script>
    <script src="../static/js/blog.js"></script>
</head>
<body>

{{template "block/nav.html" .}}

<div id="main">
    <form id="write-art-form" method="post">
        <div>Judul</div>
        <input type="text" placeholder="Masukkan Judul" name="title" value="{{.Title}}">
        <div>Label</div>
        <input type="text" placeholder="Masukkan Label name="tags" value="{{.Tags}}">
        <div>Profil</div>
        <textarea placeholder="Masukkan Profil" name="short">{{.Short}}</textarea>
        <div>Atikel</div>
        <textarea id="content" placeholder="Artikel" name="content">{{.Content}}</textarea>
        <input id="write-article-id" hidden name="id" value="{{.Id}}">
        <button type="button" onclick="history.back()">Kembali</button>
        <button type="submit" id="write-art-submit">Simpan DAta</button>
    </form>
</div>

</body>
</html>